{% assign active_lang = page.lang | default: site.default_lang | default: 'es' %}
{% assign resume = resume | default: site.data[active_lang] | default: site.data.es %}
<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if resume.sidebar.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ resume.sidebar.email }}">{{ resume.sidebar.email }}</a>
    </li>
    {% endif %}

    {% if resume.sidebar.citizenship %}
    <li class="phone"><i class="fas fa-passport"></i>
      <a href="">{{ resume.sidebar.citizenship }}</a>
    </li>
    {% endif %}

    {% if resume.sidebar.timezone %}
    <li class="timezone"><i class="fas fa-clock"></i>
      <a href="">{{ resume.sidebar.timezone }}</a>
    </li>
    {% endif %}

    {% if resume.sidebar.telegram %}
    <li class="telegram"><i class="fab fa-telegram"></i>
      <a href="https://t.me/{{ resume.sidebar.telegram }}" target="_blank">{{ resume.sidebar.telegram }}</a>
    </li>
    {% endif %}

    {% if resume.sidebar.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="https://linkedin.com/in/{{ resume.sidebar.linkedin }}" target="_blank">{{ resume.sidebar.linkedin }}</a>
    </li>
    {% endif %}

    {% if resume.sidebar.xing %}
    <li class="xing"><i class="fab fa-xing"></i>
      <a href="https://www.xing.com/profile/{{ resume.sidebar.xing }}" target="_blank">{{ resume.sidebar.xing }}</a>
    </li>
    {% endif %}

    {% if resume.sidebar.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="http://github.com/{{ resume.sidebar.github }}" target="_blank">{{ resume.sidebar.github }}</a>
    </li>
    {% endif %}

    {% if resume.sidebar.gitlab %}
    <li class="gitlab"><i class="fab fa-gitlab"></i>
      <a href="http://gitlab.com/{{ resume.sidebar.gitlab }}" target="_blank">{{ resume.sidebar.gitlab }}</a>
    </li>
    {% endif %}

    {% if resume.sidebar.bitbucket %}
    <li class="bitbucket"><i class="fab fa-bitbucket"></i>
      <a href="http://bitbucket.com/{{ resume.sidebar.bitbucket }}" target="_blank">{{ resume.sidebar.bitbucket }}</a>
    </li>
    {% endif %}

    {% if resume.sidebar.twitter %}
    <li class="twitter"><i class="fab fa-twitter"></i>
      <a href="https://twitter.com/{{ resume.sidebar.twitter }}" target="_blank">{{ resume.sidebar.twitter }}</a>
    </li>
    {% endif %}

    {% if resume.sidebar.stack-overflow %}
    <li class="stack-overflow"><i class="fab fa-stack-overflow"></i>
      <a href="https://stackoverflow.com/users/{{ resume.sidebar.stack-overflow }}" target="_blank">{{ resume.sidebar.stack-overflow }}</a>
    </li>
    {% endif %}

    {% if resume.sidebar.codewars %}
    <li class="codewars"><i class="fas fa-code"></i>
      <a href="https://www.codewars.com/users/{{ resume.sidebar.codewars }}/completed_solutions" target="_blank">{{ resume.sidebar.codewars }}</a>
    </li>
    {% endif %}

    {% if resume.sidebar.goodreads %}
    <li class="goodreads-g"><i class="fab fa-goodreads-g"></i>
      <a href="https://www.goodreads.com/user/show/{{ resume.sidebar.goodreads }}" target="_blank">{{ resume.sidebar.goodreads }}</a>
    </li>
    {% endif %}

    {% if resume.sidebar.pdf %}
    <li class="pdf"><i class="fas fa-file-pdf"></i>
      <a href="{{ resume.sidebar.pdf }}" target="_blank">Resume PDF</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
