---

---

@charset "utf-8";


// define variable with front matter
{% assign active_lang = site.default_lang | default: 'es' %}
{% assign localized = site.data[active_lang] | default: site.data.es %}
{% if localized.sidebar.position == 'left' %}
$resume-order: 2;
$sidebar-order: 1;
{% else %}
$resume-order: 1;
$sidebar-order: 2;
{% endif %}

@import "skins/{{ site.theme_skin | default: 'blue' }}"; // skin
@import "default"; // main partials
